# Web Framework
Flask==3.0.3
Flask-SocketIO==5.5.1
Flask-CORS==6.0.0

# WebSocket
python-socketio==5.14.0
eventlet==0.40.3

# Production Server
gunicorn==23.0.0

# Database
psycopg2-binary==2.9.11

# Configuration
PyYAML==6.0.2
python-dotenv==1.0.1
requests==2.33.0

# Dependencies
packaging==24.2
